#progetto-ia-ww folder --------------------------------------------------------
out/
#prog folder
prog/encodings/gruppo_1/
prog/encodings/gruppo_2/
prog/encodings/gruppo_3/
prog/encodings/gruppo_4/

prog/src/main/java/org/example/embAsp/gruppo_1/
prog/src/main/java/org/example/embAsp/gruppo_2/
prog/src/main/java/org/example/embAsp/gruppo_3/
prog/src/main/java/org/example/embAsp/gruppo_4/

prog/src/main/java/org/example/Game/mode/ai/Gruppi.java

#.idea folder --------------------------------------------------------
# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/.idea/httpRequests/
# Datasource local storage ignored files
/.idea/dataSources/
/.idea/dataSources.local.xml
